<mat-toolbar class="mat-elevation-z6">
  <span class="menu-icon"><mat-icon>menu</mat-icon> </span>

  <span [routerLink]="['']">Almoxarifado TecsLabs </span>

  <span>
    <a [routerLink]="['/tools']" routerLinkActive="router-link-active" class="menu-icon"><mat-icon>build</mat-icon> </a>
    <a [routerLink]="['/costumers']" routerLinkActive="router-link-active" class="menu-icon"><mat-icon>person</mat-icon> </a>
    <a [routerLink]="['/dashboards']" routerLinkActive="router-link-active" class="menu-icon"><mat-icon>description</mat-icon> </a>
  </span>
</mat-toolbar>


