mat-toolbar
{
  height: 1.5rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

}
p
{
  color: #10812e;
  font-size: 0.8rem
}
mat-icon
{
  font-size: 0.8rem;
  margin: 2px;
  color: red;
}
