.container
{

  padding: 2em;
}

.search-tools
{
  display: flex;
  margin: 2em 0;
  justify-content: space-between;
}

main{

  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-ctn,

.button-ctn{


  margin: 2em 0;
  display: flex;
  justify-content: flex-end;
}


